// Colors
$black: #222222;
$white: #ffffff;

$red: #C94F4F;
$blue: #4F59C9;
$yellow: #FAE969;
$orange: #F29C07;
$purple: #A445ED;
$green: #82D93F;

// Toolbar
$toolbar_background_color: lighten($black, 80%);